<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
    <%-include('../../partials/navbar/index.ejs', {user:false})%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border rounded p-2">
                <%-include('../../partials/sidebar/index.ejs')%>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h2><%=question.title%></h2>
                    </div>
                    <div class="card-body">
                        <p><%=question.description%></p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <span><%=countAnswers%> respostas</span>
                    </div>
                    <div class="col-10 text-end">
                        <span>Filtro</span>
                        <select class="form-select d-inline w-50">
                            <option value="Data de envio">Data de envio</option>
                            <option value="Nº de likes">Nº de likes</option>
                            <option value="Nº de dislikes">Nº de dislikes</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <textarea required class="form-control" id="answerDescription" placeholder="Resposta essa pergunta..." rows="5"></textarea>
                    </div>
                    <div class="container text-center">
                        <button id="buttonAnswer" type="submit" class="btn btn-outline-primary py-3 px-5">Responder</button>
                    </div>
                </div>
                
                <hr>
        
                <div>
                    <%answers.forEach(answer => {%>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="bi bi-person-circle"></i> <%=answer.user.name%>
                        </div>
                        <div class="card-body">
                            <p><%=answer.description%></p>
                            <hr>
                            <div class="fs-5">
                                <i data-id="<%=answer.id%>" class="btn bi bi-arrow-up-square upvote"></i>
                                <span><%=answer.likes%></span>
                                <i data-id="<%=answer.id%>" class="btn bi bi-arrow-down-square downvote"></i>
                                <span><%=answer.dislikes%></span>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
            </div>
            
        </div>
        
        
    </div>


    <script>
        const upvotes = document.querySelectorAll('.upvote');
        const downvotes = document.querySelectorAll('.downvote');
        upvotes.forEach(upvote => {
            upvote.addEventListener('click',async () => {
                const id = upvote.dataset.id;
                console.log(id)
                const resposta = await fetch('/vote/answer/'+id, {
                    method: 'POST',
                    headers:{
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({liked:true})
                })
                const json = await resposta.json();
                if(json.status == 'success'){
                    window.location.reload()
                } else{
                    alert(json.message)
                }
            })
        })

        downvotes.forEach(downvote => {
            downvote.addEventListener('click',async () => {
                const id = downvote.dataset.id;
                console.log(id)
                const resposta = await fetch('/vote/answer/'+id, {
                    method: 'POST',
                    headers:{
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({liked:false})
                })
                const json = await resposta.json();

                if(json.status == 'success'){
                    window.location.reload()
                } else{
                    alert(json.message)
                }
            })
        })
    </script>

    <script>
        const buttonAnswer = document.querySelector('#buttonAnswer');
        buttonAnswer.addEventListener('click', async ()=>{
            const answerDescription = document.querySelector('#answerDescription').value;
            if(answerDescription == '') return alert("Campo de resposta não pode ser vazio.");
            const path = window.location.pathname;
            const id = path.split('/')[2]
            const resposta = await fetch('/question/responder/'+id,{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({description: answerDescription})
            })
            const json = await resposta.json();
            if(json.status == 'success'){
                return window.location.reload()
            } else{
                alert(json.description)
            }
        })
    </script>
</body>
</html>